 <!--getting @bookmark and @user from app/mailers/user_mailer.rb-->

<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Bookmark Added, <%= @user.name %></h1>
<p>
  You have successfully added the link:
  <%= @bookmark.topic.name %><br>
  <%= @bookmark.url %>.<br>
</p>
</body>
</html>