 <!--getting @bookmark and @user from app/mailers/user_mailer.rb-->

<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Bookmark Rejected</h1>
<p>
  <%= @bookmark.url %> does not seem to be a valid url
</p>
</body>
</html>