<!-- @topics from users/show.html.erb -->

<div class="media">
  <tr>
    <td><%= topic.name %></td>
    <td><%= render topic.bookmarks %></td> <!-- @bookmarks to views/bookmarks/_bookmark.html.erb -->
  </tr>
</div>

