<!-- @liked_topics from users/_show.html.erb -->

<div class="media">
  <div class="media-body">
    <!--<h3><%#= topic.name %> with <%#= topic.liked_bookmarks(current_user).count %> liked bookmarks</h3>-->
    <%= link_to topic.name, topic %> with <%= topic.liked_bookmarks(current_user).count %> liked bookmarks
        <ul class="list-inline">
          <%= render topic.liked_bookmarks(current_user) %>
        </ul>

  </div>
</div>

<!-- @bookmarks to views/bookmarks/_bookmark.html.erb -->