<!-- @liked_topics from users/_show.html.erb -->

<div class="topic-block">
  <%= link_to topic do %>
      <h2><%= topic.name.titleize %></h2>
      <span class="badge pull-right"><%= topic.liked_bookmarks(current_user).count %></span>
      <!--TODO - update badge counters with ajax-->
  <% end %>
</div>

<ul class="list-inline">
  <%= render topic.liked_bookmarks(current_user) %>
</ul>




<!-- @bookmarks to views/bookmarks/_bookmark.html.erb -->




