<h1>Listing topics</h1>



<!--TODO make topics show all bookmarks-->
<!--TODO make a show all topics button-->
<!--TODO url verification in bookmark model-->

    <% @topics.each do |topic| %>

        <%= topic.name %>

        <% if policy(topic).edit? %>
            <%= link_to 'Edit', edit_topic_path(topic) %>
        <% end %>

        <% if policy(topic).destroy? %>
          <%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>

        <ul class="list-inline">
          <%= render topic.bookmarks %>
        </ul>


    <% end %>


