<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<%= link_to 'Back', topics_path %>
<ul class="list-inline">
  <%= render @topic.liked_bookmarks(current_user) %>
</ul>