

<h2><%= @liked_bookmarks.count %> bookmarks you like</h2>
<h2><%= Bookmark.count %> bookmarks in all</h2>
<%#= render @bookmarks %>  <!-- bookmarks/_bookmark.html.erb -->
<%= render @liked_bookmarks %>  <!-- bookmarks/_bookmark.html.erb -->